<div class="alert alert-dismissible alert-warning">
  <h3>{{itemLocation.name}}</h3>
  <p>in <strong>{{itemLocation.land}}</strong></p>
  <div *ngFor="let c of locationID">
    <p>Company locationID{{c.locationID}}  Location ID:{{itemLocation.id}}</p>
    <ng-container *ngIf="getStatus(c.locationID,itemLocation.id)">

      <p>{{c.name}}   since: {{c.foundationDate}}  Number of Employees: {{c.employeeNumber}}</p>
    </ng-container>
  </div>
  <!--
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Companyname</th>
      <th>Foundation Date</th>
      <th>Employee Number</th>
      <th>Location ID</th>
    </tr>
    </thead>
    <tbody>

        <tr>
          <td>{{c.name}}</td>
          <td>{{c.date}}</td>
          <td>{{c.employeeNumber}}</td>
          <td>{{itemLocation.id}}</td>
        </tr>
      </ng-container>
    </div>

    </tbody>
  </table>
</div> -->
