<h1>Location Search</h1>

<div class="form-group">
  <label>Company</label>
  <input name="searchLocation" [(ngModel)]="searchStringLocation" class="form-control">
</div>
<div class="form-group">
  <button class="btn btn-primary" (click)="searchLocations()">Suchen</button>
  <a class="btn btn-danger" [routerLink]="['/location-create']">Create</a>
</div>






  <div *ngFor="let l of getLocationsArray" >
    <location-card
      [itemLocation]="l"
      [locationID]=getCompaniesArray>
    </location-card>
  </div>
